body {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

#logo {
  box-shadow: gray 2px 2px 5px;
}

#movies {
  cursor: pointer;
}

.label {
  text-align: center;
  width: 100%;
  user-select: none;
}

.red {
  color: red;
}

.black {
  color: black;
}

.hideslowly {
  color: rgba(245, 245, 245, 0);
  transition: color 3s ease-out;
}

h1 {
  color: rgba(255, 255, 255, 0);
  margin: 0;
  font-size: 0.875rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.underlined {
  text-decoration: underline;
}

.Shows {
  display: flex;
  flex-wrap: wrap;
}

.showitem {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
  margin-top: 4rem;
  padding-left: 1rem;
}

.licence {
  font-family: "Roboto", sans-serif;
}

.dev {
  display: flex;
  align-items: center;
  gap: 20px;
}

.media-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
